{{ name }}:
  image: {{ image_ref }}
  hostname: {{ name }}
  container_name: {{ container_name_ref }}
  ports:
    - "${HIVEMQ_MQTT_PORT}:1883"
{%- if networks %}
  networks:
{%- for net in networks %}
    - {{ net }}
{%- endfor %}
{%- endif %}
