{{ name }}:
  image: ${MARIADB_IMAGE}
  hostname: {{ name }}
  container_name: {{ container_name_ref }}
  environment:
    TZ: ${TZ}
    MARIADB_ROOT_PASSWORD: ${DB_PASSWORD}
    MARIADB_DATABASE: ${DB_USER}
    MARIADB_USER: ${DB_USER}
    MARIADB_PASSWORD: ${DB_PASSWORD}
{%- if extra_databases %}
    EXTRA_DATABASES: ${EXTRA_DATABASES}
  volumes:
    - ./services/{{ name }}/initdb:/docker-entrypoint-initdb.d:ro
{%- endif %}
  healthcheck:
    test: ["CMD", "healthcheck.sh", "--connect", "--innodb_initialized"]
    interval: 5s
    timeout: 10s
    retries: 10
{%- if networks %}
  networks:
{%- for net in networks %}
    - {{ net }}
{%- endfor %}
{%- endif %}
