{{ service_name }}:
  <<: [*ignition-common]
  container_name: {{ gateway_name_ref }}
  hostname: {{ gateway_name_ref }}
  depends_on:
{%- if database_service %}
    {{ database_service }}:
      condition: service_healthy
{%- endif %}
    {{ bootstrap_service_name }}:
      condition: service_completed_successfully
{%- if not proxy %}
  ports:
    - "{{ port_ref }}:8088"
{%- endif %}
  volumes:
    - {{ volume_name }}:/usr/local/bin/ignition/data
  environment:
    <<: *ignition-environment
{%- if edition_override %}
    IGNITION_EDITION: {{ edition_override }}
{%- endif %}
{%- if accept_module_identifiers %}
    ACCEPT_MODULE_LICENSES: "{{ accept_module_identifiers }}"
    ACCEPT_MODULE_CERTS: "{{ accept_module_identifiers }}"
{%- endif %}
{%- if disable_active %}
    GATEWAY_MODULES_ENABLED: "{{ modules_enabled }}"
{%- endif %}
{%- if gan_incoming %}
    GATEWAY_NETWORK_ENABLED: "true"
    GATEWAY_NETWORK_ALLOWINCOMING: "true"
    GATEWAY_NETWORK_SECURITYPOLICY: "Unrestricted"
    GATEWAY_NETWORK_REQUIRESSL: "false"
    GATEWAY_NETWORK_REQUIRETWOWAYAUTH: "false"
{%- endif %}
{%- for conn in gan_outgoing %}
    GATEWAY_NETWORK_{{ loop.index0 }}_HOST: "{{ conn.host }}"
    GATEWAY_NETWORK_{{ loop.index0 }}_PORT: "{{ conn.port }}"
    GATEWAY_NETWORK_{{ loop.index0 }}_ENABLESSL: "false"
{%- endfor %}
{%- for key, value in env_overrides.items() %}
    {{ key }}: "{{ value }}"
{%- endfor %}
  command: >
{%- if rename %}
    -n {{ gateway_name_ref }}
{%- endif %}
    -m {{ memory_mb }}
    --
    -Dignition.config.mode=dev
{%- if networks %}
  networks:
{%- for net in networks %}
    - {{ net }}
{%- endfor %}
{%- endif %}
{%- if proxy %}
  labels:
    - "traefik.enable=true"
    - "traefik.http.routers.{{ proxy.router }}.rule=Host(`{{ proxy.host }}`)"
    - "traefik.http.routers.{{ proxy.router }}.entrypoints=web"
    - "traefik.http.services.{{ proxy.router }}.loadbalancer.server.port={{ proxy.port }}"
{%- endif %}
