GATEWAY_NAME=seeding-poc
GATEWAY_HTTP_PORT=9088
ADMIN_PASSWORD=password
DB_USER=ignition
DB_PASSWORD=ignition
TZ=America/Los_Angeles
TEMPLATE_PATH=/Users/eknorr/IA/code/projects/template-ignition-project
